services:
  app:
    build: .
    container_name: cinema_app
    command: >
      bash -c "alembic upgrade head &&
              python -m src.core.seed_db &&
              uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      POSTGRES_HOST: db
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - .:/app
  db:
    image: postgres:16-alpine
    container_name: cinema_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-online_cinema}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-user} -d ${POSTGRES_DB:-online_cinema}"]
      interval: 5s
      timeout: 5s
      retries: 5


  redis:
    image: redis:7-alpine
    container_name: cinema_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  worker:
    build: .
    container_name: cinema_worker
    command: celery -A src.core.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

  beat:
    build: .
    container_name: cinema_beat
    command: celery -A src.core.celery_app beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app


volumes:
  postgres_data:
  redis_data:
